In [8]:
import numpy as np

populasyon=np.random.randint(0,80,10000)

populasyon[0:10]

# örneklem çekimi

In [21]:
np.random.seed(115)

In [22]:
orneklem=np.random.choice(a=populasyon,size=100)

In [23]:
orneklem[0:10]

array([11, 59,  8, 56, 64, 43, 76,  7, 79, 38])

In [24]:
orneklem.mean()

39.76

In [25]:
populasyon.mean()

39.7218

In [30]:
orneklem1=np.random.choice(a=populasyon,size=100)
orneklem2=np.random.choice(a=populasyon,size=100)
orneklem3=np.random.choice(a=populasyon,size=100)
orneklem4=np.random.choice(a=populasyon,size=100)
orneklem5=np.random.choice(a=populasyon,size=100)
orneklem6=np.random.choice(a=populasyon,size=100)
orneklem7=np.random.choice(a=populasyon,size=100)
orneklem8=np.random.choice(a=populasyon,size=100)
orneklem9=np.random.choice(a=populasyon,size=100)
orneklem10=np.random.choice(a=populasyon,size=100)

In [31]:
mean= (orneklem1.mean()+orneklem2.mean()+orneklem3.mean()+orneklem4.mean()+orneklem5.mean()+orneklem6.mean()+orneklem7.mean()+orneklem8.mean()+orneklem9.mean()+orneklem10.mean())/10

In [32]:
mean

40.226000000000006

# Betimsel İstatistikler

In [35]:
import seaborn as sns

In [36]:
tips =sns.load_dataset("tips")

In [37]:
df=tips.copy()

In [38]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [39]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [45]:
import researchpy as rp

In [47]:
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [48]:
df[["tip", "total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [49]:
df[["tip", "total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

# Güven aralığı

# İş Uygulaması: Fiyat Stratejisi
-->Problem:
    CEO fiyat belirleme konusunda bilimsel bir dayanak ve esneklik isteniyor
    
 * Detaylar:
   + Satıcı, alıcı ve bir ürün var.
   + Alıcılara ürüne ne kadar ücret ödediniz diye soruluyor
   + Optimum fiyat bilimsel ve esnek olarak bulunmak isteniyor

In [50]:
fiyatlar=np.random.randint(10,110,1000)

In [51]:
fiyatlar.mean()

58.98

In [52]:
import statsmodels.stats.api as sms

In [53]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(57.20632058604849, 60.7536794139515)

# Olasılık Dağılımları
# 1. Bernoulli Dağılımı

In [55]:
from scipy.stats import bernoulli

In [56]:
p=0.6

In [57]:
rv=bernoulli(p)
rv.pmf(k=1)

0.6

In [58]:
rv=bernoulli(p)
rv.pmf(k=0)

0.4

yukarıda bernoulli için iki durumun da (1 veya 0) olasılıklarını hesapladık.

# 2.Büyük Sayılar Yasası

In [65]:
rng=np.random.RandomState(123)
for i in np.arange(1,21):
    deney_sayisi=2**i
    yazi_turalar=rng.randint(0,2,size=deney_sayisi)
    yazi_olasiliklari=np.mean(yazi_turalar)
    print("Atış Sayısı:",deney_sayisi,"---",'Yazı Olasılığı:%.2f' % (yazi_olasiliklari))

Atış Sayısı: 2 --- Yazı Olasılığı:0.50
Atış Sayısı: 4 --- Yazı Olasılığı:0.00
Atış Sayısı: 8 --- Yazı Olasılığı:0.62
Atış Sayısı: 16 --- Yazı Olasılığı:0.44
Atış Sayısı: 32 --- Yazı Olasılığı:0.47
Atış Sayısı: 64 --- Yazı Olasılığı:0.56
Atış Sayısı: 128 --- Yazı Olasılığı:0.51
Atış Sayısı: 256 --- Yazı Olasılığı:0.53
Atış Sayısı: 512 --- Yazı Olasılığı:0.53
Atış Sayısı: 1024 --- Yazı Olasılığı:0.50
Atış Sayısı: 2048 --- Yazı Olasılığı:0.49
Atış Sayısı: 4096 --- Yazı Olasılığı:0.49
Atış Sayısı: 8192 --- Yazı Olasılığı:0.50
Atış Sayısı: 16384 --- Yazı Olasılığı:0.50
Atış Sayısı: 32768 --- Yazı Olasılığı:0.50
Atış Sayısı: 65536 --- Yazı Olasılığı:0.50
Atış Sayısı: 131072 --- Yazı Olasılığı:0.50
Atış Sayısı: 262144 --- Yazı Olasılığı:0.50
Atış Sayısı: 524288 --- Yazı Olasılığı:0.50
Atış Sayısı: 1048576 --- Yazı Olasılığı:0.50

# 3. Binom Dağılımı

# İş Uygulaması:Reklam Harcaması Optimizasyonu

Problem:
--
Çeşitli mecralara reklam veriliyor, reklamların tıklanma ve geri dönüşüm oranları optimize edilmeye çalışılıyor. Buna yönelik olarak belirli bir mecrada çeşitli senaryolara göre reklama tıklama olasılıkları hesaplanmak isteniliyor.

Detaylar:
 --
 *-Bir mecrada reklam verilecek 
 **-Dağılım ve reklama tıklama olasılığı biliniyor(0,01)
 **-Soru:Reklamı 10 kişi gördüğünde 1,5,10 tıklanması olasılığı nedir?
 
 Olasılıkların Hesaplanması:
 --
 *-f(1;100,0,01)= komb(100/1)*0,01^2(1-0,01)^(100-1)=0,37
 **-f(5;100,0.01)=0,00289779
 ***-f(10;100,0.01)=0,00000007

In [66]:
from scipy.stats import binom

In [67]:
p=0.01
n=100
rv=binom(n,p)
print(rv.pmf(1))
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764972666
0.002897787123761478
7.006035693977194e-08

# 4. Poisson Dağılımı

# İş Uygulaması:İlan Girişi Hata Olasılıkları 
Prolem
--
Hatalı ilan girişi olasılıkları hesaplanmak isteniyor.

Detaylar
--
1)Bir yıl süresince ölçümler yapılıyor 
2)Dağılım biliniyor (Poisson) ve Lambda 0.1 (ortalama hata sayısı)

f(0;0.1)=0,1^0*e^(-0.1)/0!=0.9048374180
f(3;0.1)=0,0001508062
f(5;0.1)=0,0000000754

In [68]:
from scipy.stats import poisson

In [70]:
lambda_=0.1

In [71]:
rv=poisson(mu=lambda_)
print(rv.pmf(k=0))

0.9048374180359595

In [72]:
print(rv.pmf(k=3))

0.00015080623633932676

In [73]:
print(rv.pmf(k=5))

7.54031181696634e-08

# 5. Normal Dağılım

İş Uygulaması: Satış Olasılıklarının Hesaplanması 
--
Problem:
--
Bir yatırım/toplantı öncesinde gelecek ay ile ilgili satışların belirli değerlerde gerçekleşmesi olasılıkları belirlenmek isteniyor.

Detaylar
--
1) Dağılımın normal dağıldığı biliniyor.
2)Aylık ortalam satış sayısı 80K, Standart sapamsı 5K
3)90K'dan fazla satış yapma olasılığı nedir?

In [77]:
from scipy.stats import norm

In [78]:
#90'dan fazla olması 
1-norm.cdf(90,80,5)

0.02275013194817921

In [79]:
#70'den den fazla olması 
1-norm.cdf(70,80,5)

0.9772498680518208

In [80]:
#73'den az olması 
1-norm.cdf(73,80,5)

0.9192433407662289

In [81]:
#85 ile 90 arasında olması 
norm.cdf(90,80,5)-norm.cdf(85,80,5)

0.13590512198327787